<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="StyleSheet" href="../css/jpetstore.css" type="text/css" media="screen"/>
</head>
<body>
    <footer th:fragment="footer">
        <div id="Footer">

            <div id="PoweredBy">&nbsp<a href="www.csu.edu.cn">www.csu.edu.cn</a>
            </div>
            <div id="Banner">
<!--                <img th:if="(${session.account != null }) and (${session.authenticated}) and (${session.account.bannerOption})" th:src=" ${session.account.bannerName}">-->
                </img>
<!--                <th:if="${sessionScope.accountBean.authenticated}">-->
<!--                    <th:if test="${sessionScope.accountBean.account.bannerOption}">-->
<!--                        ${sessionScope.accountBean.account.bannerName}-->

<!--                    </th:if>-->
<!--                </th:if>-->
<!--            </th:if>-->
            </div>
        </div>
    </footer>
</body>
</html>