<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org "
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="StyleSheet" href="../css/jpetstore.css" type="text/css" media="screen"/>
</head>
<body>
<div th:replace="common/top">
</div>
<div id="Content">
    <div id="BackLink">
        <a href="/catalog/view">Return to Main Menu</a>
    </div>

    <div id="Catalog">Please confirm the information below and then press continue...

        <table>
            <tr>
                <th align="center" colspan="2"><font size="4"><b>Order</b></font>
                    <br />
<!--                    <font size="3"><b th:text="${#dates.format(order.orderDate,'yyyy/MM/dd hh:mm:ss')}">-->
<!--&lt;!&ndash;&lt;!&ndash;                        th:text="${#dates.format(billingForm.startTime,'yyyy-MM-dd HH:mm:ss')}"&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                        <fmt:formatDate value="${order.orderDate}" pattern="yyyy/MM/dd hh:mm:ss" />&ndash;&gt;-->
<!--</b></font>-->
<!--                </th>-->
            </tr>

            <tr>
                <th colspan="2">Billing Address</th>
            </tr>
            <tr>
                <td>First name:</td>
<!--                <td ><c:out value="${order.billToFirstName}" /></td>-->
                <td th:text="${order.billToFirstName}"></td>

            </tr>
<!--            <tr>-->
<!--                <td>Last name:</td>-->
<!--                <td><c:out value="${order.billToLastName}" /></td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>Address 1:</td>-->
<!--                <td th:out="${order.billAddress1}"></td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>Address 2:</td>-->
<!--                <td><c:out value="${order.billAddress2}" /></td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>City:</td>-->
<!--                <td><c:out value="${order.billCity}" /></td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>State:</td>-->
<!--                <td><c:out value="${order.billState}" /></td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>Zip:</td>-->
<!--                <td><c:out value="${order.billZip}" /></td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>Country:</td>-->
<!--                <td><c:out value="${order.billCountry}" /></td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <th colspan="2">Shipping Address</th>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>First name:</td>-->
<!--                <td><c:out value="${order.shipToFirstName}" /></td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>Last name:</td>-->
<!--                <td><c:out value="${order.shipToLastName}" /></td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>Address 1:</td>-->
<!--                <td><c:out value="${order.shipAddress1}" /></td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>Address 2:</td>-->
<!--                <td><c:out value="${order.shipAddress2}" /></td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>City:</td>-->
<!--                <td><c:out value="${order.shipCity}" /></td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>State:</td>-->
<!--                <td><c:out value="${order.shipState}" /></td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>Zip:</td>-->
<!--                <td><c:out value="${order.shipZip}" /></td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>Country:</td>-->
<!--                <td><c:out value="${order.shipCountry}" /></td>-->
<!--            </tr>-->

        </table>
        <a class="Button" href="/order/viewConfirmOrder">Confirm</a>
    </div>
</div>
<div th:replace="common/bottom">
</div>
</body>
</html>