<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org "
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="StyleSheet" href="../css/jpetstore.css" type="text/css" media="screen"/>
</head>
<body>
<div th:replace="common/top">
</div>
<div id="Content">
    <h2>My Orders</h2>
    <table>
        <tr>
            <th>Order ID</th>
            <th>Date</th>
            <th>Total Price</th>
        </tr>

            <tr th:each="order:${orderList}">
                <td>
                    <a th:href="@{/order/viewOrder(orderId=${order.orderId})}" th:text="${order.orderId}"></a>
<!--                    <stripes:link-->
<!--                        beanclass="org.mybatis.jpetstore.web.actions.OrderActionBean"-->
<!--                        event="viewOrder">-->
<!--                    <stripes:param name="orderId" value="${order.orderId}" />-->
<!--                    ${order.orderId}-->
<!--                </stripes:link></td>-->
                </td>
                <td th:text="${#dates.format(order.orderDate,'yyyy/MM/dd hh:mm:ss')}"></td>

<!--                <td><fmt:formatDate value="${order.orderDate}"-->
<!--                                    pattern="yyyy/MM/dd hh:mm:ss" /></td>-->
<!--                <td><fmt:formatNumber value="${order.totalPrice}"-->
<!--                                      pattern="$#,##0.00" /></td>-->
                <td th:text="'$'+${#numbers.formatDecimal(order.totalPrice,1,2)}"></td>
            </tr>
    </table>
</div>
<div th:replace="common/bottom">
</div>
</body>
</html>