<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org "
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="StyleSheet" href="../css/jpetstore.css" type="text/css" media="screen"/>
</head>
<body>
<div th:replace="common/top">
</div>
<div id="Content">
    <div id="Catalog">
        <form action="/order/viewConfirmOrder" method="post">

            <table>
                <tr>
                    <th colspan=2>Payment Details</th>
                </tr>
                <tr>
                    <td>Card Type:</td>
                    <td>
                        <select name="cardType">
                            <option th:each="creditCardType, creditCardTypeIndex : ${credit}" th:text="${creditCardType}"></option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Card Number:</td>
                    <td>
                        <input type="text" name="creditCard"/>
                                        * Use a fake number!
                    </td>
                </tr>
                <tr>
                    <td>Expiry Date (MM/YYYY):</td>
                    <td><input type="text" name="expiryDate"/></td>
                </tr>
                <tr>
                    <th colspan=2>Billing Address</th>
                </tr>
                <tr>
                    <td>First name:</td>
                    <td><input type="text" th:name="billToFirstName" th:value="${session.account.firstName}"/></td>
                </tr>
                <tr>
                    <td>Last name:</td>
                    <td><input type="text" name="billToLastName" th:value="${session.account.lastName}"/></td>
                </tr>
                <tr>
                    <td>Address 1:</td>
                    <td><input type="text" size="40" name="billAddress1" th:value="${session.account.address1}"/></td>
                </tr>
                <tr>
                    <td>Address 2:</td>
                    <td><input type="text" size="40" name="billAddress2" th:value="${session.account.address2}"/></td>
                </tr>
                <tr>
                    <td>City:</td>
                    <td><input type="text" name="billCity" th:value="${session.account.city}"/></td>
                </tr>
                <tr>
                    <td>State:</td>
                    <td><input type="text" size="4" name="billState"  th:value="${session.account.state}"/></td>
                </tr>
                <tr>
                    <td>Zip:</td>
                    <td><input type="text" size="10" name="billZip" th:value="${session.account.zip}"/></td>
                </tr>
                <tr>
                    <td>Country:</td>
                    <td><input type="text" size="15" name="billCountry" th:value="${session.account.country}"/></td>
                </tr>
                            <tr>
                                <td colspan=2>
                                    <input type="checkbox" name="session.shippingAddressRequire"/>
                                    Ship to different address...
                                </td>
                            </tr>
            </table>
                    <input type="submit" name="newOrder" value="Continue" />
        </form>
    </div>
</div>
<div th:replace="common/bottom">
</div>
</body>
</html>