<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org "
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="StyleSheet" href="../css/jpetstore.css" type="text/css" media="screen"/>
</head>
<body>
<div th:replace="common/top">
</div>
<div id="Content">
    <div id="Catalog">
    <div id="BackLink">
        <a href="/catalog/view">Return to Main Menu</a>
    </div>

    <label th:if="${session.order != null}" th:text="${message}">
    </label>



        <table>
            <tr>
                <th align="center" colspan="2" th:text="'Order #'+${#dates.format(session.order.orderDate,'yyyy/MM/dd hh:mm:ss')}">
<!--                    <fmt:formatDate value="${sessionScope.order.orderDate}"-->
<!--                                    pattern="yyyy/MM/dd hh:mm:ss" />-->
                </th>
            </tr>
            <tr>
                <th colspan="2">Payment Details</th>
            </tr>
            <tr>
                <td>Card Type:</td>
                <td th:text="${session.order.cardType}">
                    <!--                    <c:out value="${sessionScope.order.cardType}" />-->
                </td>
            </tr>
            <tr>
                <td>Card Number:</td>
                <td th:text="${session.order.creditCard}">
                    <!--                    <c:out value="${sessionScope.order.creditCard}" /> -->
                    * Fake number!
                </td>
            </tr>
            <tr>
                <td>Expiry Date (MM/YYYY):</td>
                <td th:text="${session.order.expiryDate}">
                    <!--                    <c:out value="${sessionScope.order.expiryDate}" />-->
                </td>
            </tr>
            <tr>
                <th colspan="2">Billing Address</th>
            </tr>
            <tr>
                <td>First name:</td>
                <td th:text="${session.order.billToFirstName}">
                    <!--                    <c:out value="${sessionScope.order.billToFirstName}" />-->
                </td>
            </tr>
            <tr>
                <td>Last name:</td>
                <td th:text="${session.order.billToLastName}">
                    <!--                    <c:out value="${sessionScope.order.billToLastName}" />-->
                </td>
            </tr>
            <tr>
                <td>Address 1:</td>
                <td th:text="${session.order.billAddress1}">
                    <!--                    <c:out value="${sessionScope.order.billAddress1}" />-->
                </td>
            </tr>
            <tr>
                <td>Address 2:</td>
                <td th:text="${session.order.billAddress2}">
                    <!--                    <c:out value="${sessionScope.order.billAddress2}" />-->
                </td>
            </tr>
            <tr>
                <td>City:</td>
                <td th:text="${session.order.billCity}">
                    <!--                    <c:out value="${sessionScope.order.billCity}" />-->
                </td>
            </tr>
            <tr>
                <td>State:</td>
                <td th:text="${session.order.billState}">
                    <!--                    <c:out value="${sessionScope.order.billState}" />-->
                </td>
            </tr>
            <tr>
                <td>Zip:</td>
                <td th:text="${session.order.billZip}">
                    <!--                    <c:out value="${sessionScope.order.billZip}" />-->
                </td>
            </tr>
            <tr>
                <td>Country:</td>
                <td th:text="${session.order.billCountry}">
                    <!--                    <c:out value="${sessionScope.order.billCountry}" />-->
                </td>
            </tr>
            <tr>
                <th colspan="2">Shipping Address</th>
            </tr>
            <tr>
                <td>First name:</td>
                <td th:text="${session.order.shipToFirstName}">
                    <!--                    <c:out value="${sessionScope.order.shipToFirstName}" />-->
                </td>
            </tr>
            <tr>
                <td>Last name:</td>
                <td th:text="${session.order.shipToLastName}">
                    <!--                    <c:out value="${sessionScope.order.shipToLastName}" />-->
                </td>
            </tr>
            <tr>
                <td>Address 1:</td>
                <td th:text="${session.order.shipAddress1}">
                    <!--                    <c:out value="${sessionScope.order.shipAddress1}" />-->
                </td>
            </tr>
            <tr>
                <td>Address 2:</td>
                <td th:text="${session.order.shipAddress2}">
                    <!--                    <c:out value="${sessionScope.order.shipAddress2}" />-->
                </td>
            </tr>
            <tr>
                <td>City:</td>
                <td th:text="${session.order.shipCity}">
                    <!--                    <c:out value="${sessionScope.order.shipCity}" />-->
                </td>
            </tr>
            <tr>
                <td>State:</td>
                <td th:text="${session.order.shipState}">
                    <!--                    <c:out value="${sessionScope.order.shipState}" />-->
                </td>
            </tr>
            <tr>
                <td>Zip:</td>
                <td th:text="${session.order.shipZip}">
                    <!--                    <c:out value="${sessionScope.order.shipZip}" />-->
                </td>
            </tr>
            <tr>
                <td>Country:</td>
                <td th:text="${session.order.shipCountry}">
                    <!--                    <c:out value="${sessionScope.order.shipCountry}" />-->
                </td>
            </tr>
            <tr>
                <td>Courier:</td>
                <td th:text="${session.order.courier}">
                    <!--                    <c:out value="${sessionScope.order.courier}" />-->
                </td>
            </tr>
            <tr>
                <td colspan="2" th:text="'Status:'+${session.order.status}">
                    <!--                    Status: <c:out value="${sessionScope.order.status}" />-->
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <table>
                        <tr>
                            <th>Item ID</th>
                            <th>Description</th>
                            <th>Quantity</th>
                            <th>Price</th>
                            <th>Total Cost</th>
                        </tr>
<!--                        <c:forEach var="lineItem" items="${sessionScope.order.lineItems}">-->
                            <tr th:each="lineItem:${session.order.lineItems}">
                                <td>
                                    <a href="@{/catalog/viewItem(itemId=${lineItem.item.itemId})}" th:text="'Return to'+${lineItem.item.itemId}">Return to ${lineItem.item.itemId}</a>
                                </td>
                                <td th:if="${lineItem.item != null}" th:text="${lineItem.item.attribute1}">
<!--&lt;!&ndash;                                    <c:if test="${lineItem.item != null}">&ndash;&gt;-->
<!--                                        ${lineItem.item.attribute1}-->
<!--                                        ${lineItem.item.attribute2}-->
<!--                                        ${lineItem.item.attribute3}-->
<!--                                        ${lineItem.item.attribute4}-->
<!--                                        ${lineItem.item.attribute5}-->
<!--                                        ${lineItem.item.product.name}-->
<!--&lt;!&ndash;                                    </c:if> &ndash;&gt;-->
<!--&lt;!&ndash;                                    <c:if test="${lineItem.item == null}">&ndash;&gt;-->
                                    <i th:if="${lineItem.item == null}">{description unavailable}</i>
<!--&lt;!&ndash;                                </c:if>&ndash;&gt;-->
                                </td>

                                <td th:text="${lineItem.quantity}"></td>
                                <td th:text="'$'+${#numbers.formatDecimal(lineItem.unitPrice,1,2)}">
<!--                                    <fmt:formatNumber value="${lineItem.unitPrice}" pattern="$#,##0.00" />-->
                                </td>
                                <td th:text="'$'+${#numbers.formatDecimal(lineItem.total,1,2)}"></td>
<!--                                    <fmt:formatNumber value="${lineItem.total}" pattern="$#,##0.00" />-->
                                </td>
                            </tr>
<!--&lt;!&ndash;&lt;!&ndash;                        </c:forEach>&ndash;&gt;&ndash;&gt;-->
<!--                        <tr>-->
                            <th colspan="5">
                            <td th:text="'Total:$'+${#numbers.formatDecimal(session.order.totalPrice,1,2)}"></td>
<!--                                Total: <fmt:formatNumber value="${sessionScope.order.totalPrice}" pattern="$#,##0.00" />-->
                            </th>
<!--                        </tr>-->
                    </table>
                </td>
            </tr>

        </table>

    </div>
</div>
<div th:replace="common/bottom">
</div>
</body>
</html>