<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="StyleSheet" href="../css/jpetstore.css" type="text/css" media="screen"/>
</head>
<body>
<div th:replace="common/top">
</div>
<div id="Content">
    <label th:if="${message!=null}" th:text="${message}"></label>
    <div id="BackLink">
        <a href="/catalog/viewMyAccount">Return to MyAccount</a>
    </div>
    <div id="Catalog">
        <label th:if="${message != null}" th:text="${message}"></label>
        <span style="padding-left:30px;"><h3>Modify Account</h3></span>
        <form action="/account/accountModify_sure" method="post">
        <table>
            <tr>
                <td>Account ID:</td>
                <!--                    <td th:text="${account.username}"></td>-->
                <td><input type="text"></td>

            </tr>
            <tr>
                <td>Shipping Address:</td>
                <!--                    发货地址-->
                <td><input type="text"></td>

            </tr>
            <tr>
                <td>Card Type:</td>
                <!--                    收款卡-->
                <td><input type="text"></td>
            </tr>
            <tr>
                <td>Card Number:</td>
                <!--                    收款卡号-->
                <td><input type="text"></td>
            </tr>
        </table>
        <br/>
            <input th:type="submit" value="Sure">
            <a class="Button"  href="/account/cancel">Cancel</a>
        </form>
    </div>

</div>
<div th:replace="common/bottom">
</div>
</body>
</html>