<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="StyleSheet" href="../css/jpetstore.css" type="text/css" media="screen"/>
</head>
<body>
<div th:replace="common/top">
</div>
<div id="Content">
    <div id="Catalog">
        <div id="BackLink">
            <a href="/account/viewMyAccount">Return to MyAccount</a>
        </div>
        <form action="/account/resetPassword_sure" method="post">

            <h3>Reset Password</h3>

            <table>
                <tr>
                    <td>New password:</td>
                    <td>
                        <input type="text" name="password" />
                    </td>
                </tr>
                <tr>
                    <td>Repeat password:</td>
                    <td>
                        <input type="text" name="repeatedPassword" />
                    </td>
                </tr>
            </table>
            <input type="submit" name="resetPassword" value="Sure" />
            <a class="Button"  href="/account/cancel">Cancel</a>
        </form>
    </div>

</div>
<div th:replace="common/bottom">
</div>
</body>
</html>