<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="StyleSheet" href="../css/jpetstore.css" type="text/css" media="screen"/>
</head>
<body>
<div th:replace="common/top">
</div>

<div id="Content">
    <div id="BackLink">
        <a th:href="@{/catalog/viewProduct(productId=${product.productId})}" th:text="'Return to Item Catalog of '+${product.name}"></a>
    </div>

    <div id="Catalog">
        <span style="padding-left:20px;"> <h2 th:text="'New Item of '+${product.name}"></h2></span>
        <form action="/catalog/itemAdd_sure" method="post">
            <table>
                <tr>
                    <td>Item ID：</td>
                    <td>
                        <input type="text" name="itemId" />
                    </td>
                </tr>
                <tr>
                    <td>Description：</td>
                    <td>
                        <input type="text" name="attribute1" />
                    </td>
                </tr>
                <tr>
                    <td>List Price：</td>
                    <td>
                        <input type="text" name="listPrice" />
                    </td>
                </tr>
                <tr>
                    <td>Quantity：</td>
                    <td>
                        <input type="text" name="quantity" />
                    </td>
                </tr>
            </table>
            <input th:type="submit" value="Sure" />
            <a class="Button" href="/catalog/ItemCancel">Cancel</a>
        </form>
    </div>
</div>

</div>
<div th:replace="common/bottom">
</div>
</body>
</html>