<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/jpetstore.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<footer th:fragment="footer">
    <div id="Footer">

        <div id="PoweredBy">&nbsp<a href="www.csu.edu.cn">www.csu.edu.cn</a>
        </div>

        <div id="Banner">
<!--            <c:if test="${sessionScope.account != null}">-->
                <a th:href="@{/product/get(categoryId=${session.account.favouriteCategoryId})}" th:if="${session.account != null}" th:utext="${session.account.bannerName}"></a>
<!--            </c:if>-->
        </div>

    </div>
</footer>
</body>
</html>