<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.persistence.ProductMapper">
    <select id="getProductListByCategory" parameterType="string" resultType="Product">
    SELECT
      PRODUCTID,
      NAME,
      DESCN as description,
      CATEGORY as categoryId
    FROM PRODUCT
    WHERE CATEGORY = #{value}
  </select>
    <select id="getProduct" parameterType="string" resultType="Product">
    SELECT
      PRODUCTID,
      NAME,
      DESCN as description,
      CATEGORY as categoryId
    FROM PRODUCT
    WHERE PRODUCTID = #{productId}
  </select>
    <select id="updateProduct">
        update PRODUCT set name =#{name}, descn = #{description} where productid = #{productId}
    </select>
    <select id="addProduct">
        insert into PRODUCT(productid, category, name, descn) values (#{productId}, #{category}, #{name}, #{descn})
    </select>
    <select id="deleteProduct" parameterType="java.lang.String">
        delete from PRODUCT where productid = #{productId}
    </select>
    <select id="deleteProductByCategory">
        delete from PRODUCT where category=#{categoryId}
    </select>
</mapper>