<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org "
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="StyleSheet" href="../css/jpetstore.css" type="text/css" media="screen"/>
</head>
<body>
<header th:fragment="header">
    <div id="Header">

        <div id="Logo">
            <div id="LogoContent">
                <a href="/catalog/view"><img src="../css/images/top.gif" /></a>
            </div>
        </div>
        <div id="Menu">
            <div id="MenuContent">


                <a th:if="${session.account == null}" href="/account/viewSignOnForm">
                    Sign In
                </a>
                <a th:if="(${session.account != null}) and (${!session.authenticated})" href="/account/viewSignOnForm">
                    Sign In
                </a>
                <a th:if="(${session.account != null}) and (${session.authenticated})" href="/account/viewSignOut">
                    Sign Out
                    <img align="middle" src="../css/images/separator.gif" />
                    <a href="/account/viewMyAccount">
                        My Account
                    </a>
                </a>
            </div>
        </div>


        <div id="Search">
            <div id="SearchContent">
<!--                <form action="/catalog/searchProducts" method="post">-->
<!--                    <input type="text" name="keyword" size="14" />-->
<!--                    <div id="context1" style="background-color:white; border: 1px solid red;width:128px;position: absolute;top: 133px;left:944px;display:none" >-->
<!--                    </div>-->
<!--                    <input type="submit" name="searchProducts" value="Search" />-->
<!--                </form>-->
            </div>
        </div>

        <div id="QuickLinks">
            <a href="/catalog/viewCategoryList">
                <img src="../css/images/commodify_icon..gif" />
            </a>
            <img src="../css/images/separator.gif" />
            <a href="/account/viewMyAccount">
                <img src="../css/images/user_icon.gif" />
            </a>
            <img src="../css/images/separator.gif" />
            <a href="/order/viewOrderList">
                <img src="../css/images/order_icon.gif" />
            </a>
        </div>

    </div>
</header>

</body>
</html>