<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/jpetstore.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div th:replace="common/IncludeTop :: header" ></div>
<div id="Content">
    <div id="Catalog">
        <table>
            <tr>
                <td th:utext="${product.description}">${product.description}</td>

            </tr>
            <tr>
                <td><b th:text="${item.itemId}">  </b></td>
            </tr>
            <tr>
                <td>
                    <b>
                        <font size="4" th:text="${item.attribute1}"> ${sessionScope.item.attribute1}
                            ${sessionScope.item.attribute2} ${sessionScope.item.attribute3}
                            ${sessionScope.item.attribute4} ${sessionScope.item.attribute5}
                            ${sessionScope.product.name}
                        </font>
                    </b>
                </td>
            </tr>
            <tr>
                <td th:text="${product.name}">${sessionScope.product.name}</td>
            </tr>
            <tr>
                <td th:if="${item.quantity > 0}" th:text="${item.quantity}">
<!--                    <c:if test="${sessionScope.item.quantity <= 0}">-->
<!--                        Back ordered.-->
<!--                    </c:if>-->
<!--                    <c:if test="${sessionScope.item.quantity > 0}">${sessionScope.item.quantity} in stock.-->
<!--                    </c:if>-->
                    Back ordered.
                </td>
            </tr>
            <tr>
                <td th:text="${item.listPrice}">
<!--                    <fmt:formatNumber value="${sessionScope.item.listPrice}"-->
<!--                                      pattern="$#,##0.00" />-->
                </td>
            </tr>

            <tr>
                <td>
                    <a class="Button" href="addToCart?workingItemId=${sessionScope.item.itemId}">Add to Cart</a>
                </td>
            </tr>
        </table>

    </div>
</div>
<div th:replace="common/IncludeBottom :: footer"></div>
</body>
</html>